*{
    text-align: center;
    justify-content: center;
    background-color: rgb(216, 175, 175);

}
.title{
    font-size: 50px;
    color: red;
    background-color: black;
}
.description{
    font-size: 30px;
    
}
h2{
    font-size: 30px
}
p{
    font-size: 20px ;
}


